# Pandas数值运算方式

对于一元运算，这些通用将在结果中保留索引和列标签

对于二元运算，pandas在传递通用函数时会自动对齐索引进行计算

In [1]:
import pandas as pd
import numpy as np

In [2]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [3]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [5]:
print(np.exp(ser))
print(np.sin(df * np.pi / 4))

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64
          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

## 索引对齐

Python 运算符和 Pandas方法的映射关系

| Python Operator | Pandas Method(s)                       |
|-----------------|----------------------------------------|
| ``+``           | ``add()``                              |
| ``-``           | ``sub()``, ``subtract()``              |
| ``*``           | ``mul()``, ``multiply()``              |
| ``/``           | ``truediv()``, ``div()``, ``divide()`` |
| ``//``          | ``floordiv()``                         |
| ``%``           | ``mod()``                              |
| ``**``          | ``pow()``                              |

In [6]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

In [11]:
res = population / area

print(res, type(res))

# 获取索引合集
print(area.index.union(population.index))

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64 <class 'pandas.core.series.Series'>
Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [12]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])

A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [13]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)), columns=list('AB'))
B = pd.DataFrame(rng.randint(0, 10, (3, 3)), columns=list('BAC'))

print(A + B)

      A     B   C
0   1.0  15.0 NaN
1  13.0   6.0 NaN
2   NaN   NaN NaN

In [15]:
A = rng.randint(10, size=(3, 4))
df = pd.DataFrame(A, columns=list('QRST'))
print(df - df.iloc[0])
print(df.subtract(df['R'], axis=0))

halfrow = df.iloc[0, ::2]
print(halfrow)

   Q  R  S  T
0  0  0  0  0
1  3 -8 -5 -3
2  6 -7 -8 -6
   Q  R  S  T
0 -8  0 -1  0
1  3  0  2  5
2  5  0 -2  1
Q    1
S    8
Name: 0, dtype: int32